<section class="help-banner">
  <div class="help-banner__container">
    
    <div class="help-banner__decorations" aria-hidden="true">
      <img src="/img/needs-help/gradients-help-banner.png" alt="" class="help-banner__gradient-bg">
    </div>

    <div class="help-banner__content">
      <h2 class="help-banner__title">Получить помощь</h2>
      <p class="help-banner__description">
        Если вам необходима помощь, заполните и отправьте анкету-обращение в фонд
      </p>
      <a href="#" class="help-banner__button">ЗАПОЛНИТЬ АНКЕТУ</a>
    </div>

    <div class="help-banner__gallery">
      <img src="/img/needs-help/sun.png" alt="" class="help-banner__sun">
      
      <div class="help-banner__card help-banner__card--left">
        <img src="/img/needs-help/help-banner-1.png" alt="Волонтеры передают игрушки" class="help-banner__image">
      </div>
      <div class="help-banner__card help-banner__card--right">
        <img src="/img/needs-help/help-banner-2.png" alt="Дети получают помощь" class="help-banner__image">
      </div>
    </div>

  </div>
</section>