<section class="general-banner-container" data-animation="general-banner">
  <div class="container-lg">
    <div class="general-banner">
      <div class="general-banner__media">
        <img
          src="/img/help/general-banner-bg.webp"
          aria-hidden="true"
          class="general-banner__bg"
          data-banner-bg
        />
        <div class="general-banner__overlay"></div>

        <div class="general-banner__content" >
          <div class="general-banner__name" data-animation="fade-up">
            <img src="/img/main/main-page-title.svg" alt="Название компании" />
          </div>
          <h1 class="general-banner__title" data-animation="fade-up">
            БЛАГОТВОРИТЕЛЬНЫЙ ФОНД ПОМОЩИ ДЕТЯМ
          </h1>
          <p class="general-banner__description" data-animation="text-mask">
            Даже небольшое пожертвование становится частью большой работы и
            помогает тем, кто оказался в сложной ситуации. Ниже вы можете
            выбрать сбор, который хотите поддержать. За каждым из них стоит
            конкретный человек, семья или проект, которым прямо сейчас нужна
            помощь.
          </p>
        </div>
      </div>

      <div class="general-banner__form-wrapper" data-banner-form>
        {% include "components/form.html" %}
      </div>
    </div>
  </div>
</section>
