<div class="popup-status" data-failed-popup>
  <div class="popup-status__backdrop" data-close-popup></div>
  <div class="popup-status__card">
    <button class="popup-status__close" type="button" aria-label="Закрыть" data-close-popup>
      <img class="popup-status__close-icon" src="/img/svg/close.svg" alt="" />
    </button>
    <div class="popup-status__image-wrapper">
      <img
        class="popup-status__image"
        src="/img/failed-illustration.svg"
        alt="Что-то пошло не так"
      />
    </div>
    <h2 class="popup-status__title" data-popup-message>Что-то пошло не так, повторим?</h2>
    <div class="popup-status__actions">
      <button class="popup-status__button popup-status__button--primary" type="button" data-close-popup>
        Попробовать снова
      </button>
      <a href="/" class="popup-status__button popup-status__button--outline" data-close-popup>
        Завершить
      </a>
    </div>
  </div>
</div>