
<div class="popup-success" data-success-popup>
  <div class="popup-success__backdrop" data-close-popup></div>
  <div class="popup-success__card">
    <button class="popup-success__close" type="button" aria-label="Закрыть" data-close-popup>
      <img class="popup-success__close-icon" src="/img/svg/close.svg" alt="" />
    </button>
    <div class="popup-success__image-wrapper">
      <img
        class="popup-success__image"
        src="/img/success-illustration.svg"
        alt="Спасибо за помощь"
      />
    </div>
    <h2 class="popup-success__title">Спасибо за вашу доброту!</h2>
    <a href="/" class="popup-success__button">Вернуться на главную</a>
  </div>
</div>