@font-face {
    font-family: InterTight;
    font-weight: 400;
    src: url(/fonts/TikTokSans.ttf);
}

@font-face {
    font-family: InterTight;
    font-weight: 500;
    src: url(/fonts/TikTokSans.ttf);
}

@font-face {
    font-family: InterTight;
    font-weight: 700;
    src: url(/fonts/TikTokSans.ttf);
}
@font-face {
    font-family: InterTight;
    font-weight: 600;
    src: url(/fonts/TikTokSans.ttf);
}