.footer {
  padding-block: 40px 30px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}
.footer__logo {
    max-width: 50vw;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  max-width: 760px;
}

.footer__menu-top {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

/* .footer__navigations,
.footer__contacts {
  min-width: 180px;
} */

.footer__menu-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 60px;
  border-top: 1px solid #d9d9d9;
  padding-top: 20px;
}

.footer__socials {
    min-width: 170px;
}

.footer__button {
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(18px, 2vw, 20px);
  gap: 12px;
  padding-block: 33px;
}
.footer__menu {
  max-width: 692px;
  .nav-menu__title,
  .contacts-menu__title,
  .socials-menu__title {
    padding-bottom: clamp(10px, 1.5vw, 20px);
  }

  .socials-menu__link {
    width: clamp(42px, 5vw, 60px);
    height: clamp(42px, 5vw, 60px);
  }
}

.footer-policy {
  margin-top: auto;
}
  .footer__menu-top {
    gap: clamp(40px, 7vw, 90px);
  }
@media (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column;
  }

  .footer__wrapper,
  .footer__menu,
  .footer__menu-bottom {
    gap: 10px;
  }

  .footer__menu {
    max-width: none;
    width: 100%;
  }
.footer__button {
    padding-block: 20px;
}

.footer__socials {
    min-width: 150px;
}
}


.footer__menu-top-col {
  max-width: 168px;
}