.mobile-menu__nav {
  padding-inline: 15px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 140px);
}

.mobile-menu__navigations .nav-menu__title {
  padding-bottom: 15px;
}

.nav-menu__title,
.contacts-menu__title,
.socials-menu__title {
  padding-bottom: 10px;
}

.nav-menu__list,
.contacts-menu__list {
  display: flex;
  flex-direction: column;
}

.nav-menu__list {
  gap: 15px;
}
.contacts-menu {
    display: flex;
  flex-direction: column;
}

  
.contacts-menu__list {
  gap: 10px;
}

.nav-menu__sublist {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 10px;
}

.nav-menu__sublink {
  opacity: 0.8;
}

.socials-menu__list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}

.socials-menu__link {
  border: 2px solid var(--black);
  border-radius: 70px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-menu__link img {
  display: block;
}

.mobile-menu__contacts {
  margin-top: 40px;


}

.mobile-menu__socials {
  border-top: 1px solid #d9d9d9;
  padding-top: 20px;
  margin-top: auto;
}
