.mobile-menu__nav {
  padding-inline: 15px;
  /* display: flex;
  flex-direction: column; */
  /* height: calc(100vh - 140px); */
  display: grid;
  grid-template-areas:
    "nav-menu contacts-menu"
    "socials-menu socials-menu"
    "button button";
  justify-content: space-between;
  align-items: start;
}
.nav-menu {
  grid-area: nav-menu;
}
.contacts-menu {
  grid-area: contacts-menu;
}
.socials-menu {
  grid-area: socials-menu;
}
.mobile-menu__navigations .nav-menu__title {
  padding-bottom: 15px;
}

.nav-menu__title,
.contacts-menu__title,
.socials-menu__title {
  padding-bottom: 10px;
}

.nav-menu__list,
.contacts-menu__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}


.contacts-menu {
  display: flex;
  flex-direction: column;
}


.nav-menu__sublist {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 10px;
}

.nav-menu__sublink {
  opacity: 0.8;
}

.socials-menu__list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}

.socials-menu__link {
  border: 2px solid var(--black);
  border-radius: 70px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.socials-menu__link svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.mobile-menu__contacts {
  /* margin-top: 40px; */
}

.mobile-menu__socials {
  /* border-top: 1px solid #d9d9d9; */
  padding-top: 39px;
  /* margin-top: auto; */
}

.mobile-menu__button-box {
  padding-top: 33px;
  grid-area: button;
}


