.news-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-width: clamp(330px, 24.1875vw, 387px); */
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--white);
}

.news-card__media {
  position: relative;
  width: 100%;
  aspect-ratio: 387 / 290.25;
  overflow: hidden;
}

.news-card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in;
}
@media (hover: hover) {
  .news-card__image:hover {
    transform: scale(1.05);
  }
}
.news-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 15px;
  gap: clamp(10px, 1.25vw, 20px);
  margin: 0;
  min-height: clamp(210px, 33vw, 285px);
}

.news-card__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news-card__date {
  font-size: clamp(16px, 1.125vw, 18px);
  font-weight: 700;
  line-height: 1.5;
  color: var(--black);
  opacity: 0.8;
}

.news-card__title {
  margin: 0;
  font-size: clamp(20px, 1.5vw, 24px);
  font-weight: 500;
  line-height: 1.5;
  color: var(--black);
  a {
    color: var(--black);

  }
}

.news-card__link {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--red);
  width: fit-content;
  svg {
    transition: transform .1s ease-in;
  }
}
@media (hover:hover) {
  .news-card__link:hover svg {
    transform: scale(1.05);
  }
}

.news-card__link-text {
  font-size: clamp(16px, 1.25vw, 20px);
  font-weight: 400;
  line-height: 1.5;
}

.news-card__icon {
  width: clamp(30px, 2.25vw, 36px);
  height: clamp(30px, 2.25vw, 36px);
  flex-shrink: 0;
}

.news-list {
  background: var(--background);
  padding-top: 60px;
  padding-bottom: clamp(60px, 9vw, 120px);
  position: relative;
}

.news-list__background {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  img {
    width: 100%;
  }
}

.news-list__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(30px, 2.5vw, 40px) 20px;
  width: 100%;
  padding-bottom: clamp(30px, 3.5vw, 40px);
}

.news__more-btn {
  border-radius: 100px;
  padding: 10px 13px;
  width: 100%;
  background: var(--red);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  gap: 8px;
  svg {
    transition: transform .1s ease-in;
  }
}


@media (hover: hover) {
  .news__more-btn:hover svg {
    transform: rotate(45deg);
  }
}
@media (max-width: 1024px) {
  .news-list__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .news-list__grid {
    grid-template-columns: 1fr;
  }
}
