.partners {
  background: var(--background);
}
.container {
}
.partners__wrapper {
  padding-block: clamp(80px, 10vw, 120px);
}

.partners__title {
  padding-bottom: clamp(30px, 3vw, 55px);
  text-transform: uppercase;
  font-size: clamp(36px, 3.8vw, 40px);
  font-family: var(--font-family);
  font-weight: 700;
  color: var(--black);
  line-height: 113%;
}

.partners__list {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(172px, 1fr)); */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: clamp(15px, 3vw, 55px);
  column-gap: clamp(21px, 4.5vw, 69px);
}

.partners__item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s ease-in;

  img {
    max-width: 100%;
  }
}

@media (hover: hover) {
  .partners__item:hover {
    scale: 1.05;
  }
}

@media (max-width: 768px) {
  .partners__item {
    width: 130px;
  }

  .partners__title {
    text-align: center;
  }
}
