<section class="quote-section">
  <div class="quote-section__container">
    <div class="quote-section__content">
      <blockquote class="quote-section__quote">
        «Иногда человеку нужен всего один фонарик, чтобы перестать бояться темноты»
      </blockquote>
      
      <div class="quote-section__author-info">
        <h3 class="quote-section__author-name">Ида Галич</h3>
        <p class="quote-section__text">
          Любая помощь имеет значение. Иногда небольшой перевод, одно доброе сообщение или несколько минут внимания становятся для человека той самой поддержкой, которая помогает двигаться дальше
        </p>
      </div>
    </div>

    <div class="quote-section__person">
      <img src="/img/main/ida-galich.png" alt="Ида Галич" class="quote-section__person-img">
    </div>
  </div>
</section>