<section class="quote-section">
  <div class="quote-section__container">
    <div class="quote-section__content">
      <blockquote class="quote-section__quote">
        {{quote.title}}
      </blockquote>
      
      <div class="quote-section__author-info">
        <h3 class="quote-section__author-name">{{quote.name}}</h3>
        <p class="quote-section__text">
          {{quote.text}}
        </p>
      </div>
    </div>

    <div class="quote-section__person">
      <img src="/img/main/ida-galich.png" alt="{{quote.title}}" class="quote-section__person-img">
    </div>
  </div>
</section>