<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__logo">
        <a href="/">
          <img src="img/logo-big.png" alt="logo" />
        </a>
      </div>

      <div class="footer__menu">
        <div class="footer__menu-top">
          <nav class="footer__navigations nav-menu" aria-label="Навигация в футере">
            <div class="nav-menu__title text-sm font-bold text-black">
              Навигация
            </div>
            <ul class="nav-menu__list">
              {% for item in commonData.navigationFooter %}
              <li class="nav-menu__item">
                {% if item.childrens %}
                <a
                  class="nav-menu__link text-xs text-black"
                  href="javascript:void(0)"
                >
                  {{ item.title }}
                </a>
                <ul class="nav-menu__sublist">
                  {% for child in item.childrens %}
                  <li class="nav-menu__subitem">
                    <a
                      class="nav-menu__sublink text-xs text-black"
                      href="{{ child.url }}"
                    >
                      {{ child.title }}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
                {% else %}
                <a
                  class="nav-menu__link text-xs text-black"
                  href="{{ item.url }}"
                >
                  {{ item.title }}
                </a>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </nav>

          <div class="footer__contacts contacts-menu">
            <div class="contacts-menu__title text-sm font-bold text-black">
              Контакты
            </div>
            <ul class="contacts-menu__list">
              {% for item in commonData.contacts %}
              <li class="contacts-menu__item">
                <a
                  class="contacts-menu__link text-xl text-black"
                  href="{{ item.url }}"
                >
                  {{ item.title }}
                </a>
              </li>
              {% endfor %}
            </ul>

            <a class="footer-policy text-sm text-black" href="/policy/">Политика обработки персональных данных</a>
          </div>
        </div>

        <div class="footer__menu-bottom">
          <div class="footer__socials socials-menu">
            <div class="socials-menu__title text-sm font-bold">
              Социальные сети
            </div>
            <ul class="socials-menu__list">
              {% for item in commonData.socials %}
              <li class="socials-menu__item">
                <a class="socials-menu__link text-xs" href="{{ item.url }}" aria-label="{{ item.title }}">
                  <img src="{{ item.image }}" alt="" />
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>

          <a href="" class="button button-red footer__button">
            <img src="img/svg/smile.svg" alt="smile" width="29px" height="16px">
            <span>Помочь</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
