<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="/" class="header__logo logo">
        <img src="/img/logo.svg" alt="" />
      </a>
      <div class="header__menu-desktop">
        {% include "blocks/menu.html" %} 

      </div>
        

      <div class="header__actions">
        <button class="header__button button button-red-big" data-open-popup="donation-popup">
          <span> помочь </span>
          <img src="/img/svg/smile.svg" />
        </button>

        <button class="header-burger">
          <span></span>
        </button>
      </div>
    </div>

    <div class="header__menu-mobile">

        {% include "blocks/menu-mobile.html" %} 
    </div>
  </div>
</header>
