<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Базовый заголовок{% endblock %}</title>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    {% for file in cssFiles %}
        <link rel="stylesheet" href="/css/{{ file.name }}?v={{ file.version }}">
    {% endfor %}

    <link rel="stylesheet" href="/libs/swiper/swiper.min.css">
    <script src="/libs/swiper/swiper.min.js"></script>

    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        
        {% include "blocks/header.html" %} 

        <main class="main">
            {% block content %}{% endblock %}
        </main>

        {% include "blocks/footer.html" %} 

        {% include "blocks/cookie.html" %} 


    </div>


    <script src="/js/header.js"></script>
    <script src="/js/swipers.js"></script>
    <script src="/js/load.js"></script>
    <script src="/js/cookie.js"></script>


</body>
</html>
