<nav class="mobile-menu__nav">
  <div class="mobile-menu__navigations nav-menu">
    <div class="nav-menu__title text-sm font-bold text-black">Навигация</div>
    <ul class="nav-menu__list">
      {% for item in commonData.navigation %}
      <li class="nav-menu__item">
        {% if item.childrens %}
        <a class="nav-menu__link text-xs text-black" href="javascript:void(0)">
          {{ item.title }}
        </a>
        <ul class="nav-menu__sublist">
          {% for child in item.childrens %}
          <li class="nav-menu__subitem">
            <a
              class="nav-menu__sublink text-xs text-black"
              href="{{ child.url }}"
            >
              {{ child.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <a class="nav-menu__link text-xs text-black" href="{{ item.url }}">
          {{ item.title }}
        </a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="mobile-menu__contacts contacts-menu">
    <div class="contacts-menu__title text-sm font-bold text-black">
      Контакты
    </div>
    <ul class="contacts-menu__list">
      {% for item in commonData.contacts %}
      <li class="contacts-menu__item">
        <a class="contacts-menu__link text-xl text-black" href="{{ item.url }}">
          {{ item.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="mobile-menu__socials socials-menu">
    <div class="socials-menu__title text-sm font-bold">Социальные сети</div>
    <ul class="socials-menu__list">
      {% for item in commonData.socials %}
      <li class="socials-menu__item">
        <a
          class="socials-menu__link text-xs"
          href="{{ item.url }}"
          aria-label="{{ item.title }}"
        >
          <img src="{{ item.image }}" alt="" />
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="mobile-menu__button-box">
    <a href="/help" class="button button-red-big button-red-big-no-size">
      <span> помочь </span>
      <img src="/img/svg/smile.svg" />
    </a>
  </div>
</nav>
