{% macro newsSingle(item) %}
<section class="news-detail">
  <div class="container">
    <div class="news-detail__container">
      <aside class="news-detail__sidebar">
        <div class="article-meta">
          <div class="article-meta__item">
            <span class="article-meta__label" data-animation="fade-up">Дата публикации</span>
            <time class="article-meta__value" datetime="{{ item.datetime }}" data-animation="fade-up">{{ item.date }}</time>
          </div>
          {% if item.topic %}
          <div class="article-meta__item">
            <span class="article-meta__label" data-animation="fade-up">Тема статьи</span>
            <span class="article-meta__value" data-animation="fade-up">{{ item.topic }}</span>
          </div>
          {% endif %}
        </div>
      </aside>

      <article class="news-detail__content article-content">
        <div class="article-content__body" data-animation="fade-up">
          {{ item.htmlContent | safe }}
        </div>
      </article>
    </div>
  </div>
</section>
{% endmacro %}